* {
    margin: 0;
    padding: 0;
  
    &::before, &::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }
  
  button {
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 24px;
  }
  
  div.timeline {
    background: $secondary-color;
    color: $primary-color;
    width: 100%;
    height: auto;
    height: auto;
    display: block;
    margin: 50px auto;
    line-height: 1.5;
  }
  
  .timeline {
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 1240px;
    
  
    time {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 8px;
    }
  
    ol {
      touch-action: pan-y;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: black;
      list-style: none;
      width: 100vw;
      padding: 150px 0;
      transition: all 1s;
  
      li {
        position: relative;
        display: inline-block;
        width: 160px;
        height: 3px;
        background-color: $primary-color;
  
        &:last-child {
          width: 280px;
        }
  
        &:not(:first-child) {
          margin-left: 14px;
        }
  
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(100% + 1px);
          bottom: 0;
          width: 14px;
          height: 14px;
          background: #F45B69;
          border-radius: 50%;
          transform: translateY(-50%);
        }
  
        div {
          position: absolute;
          left: calc(100% + 7px);
          width: 150px;
          padding: 15px;
          font-size: 16px;
        }
  
        &:nth-child(odd) div {
          top: -16px;
          transform: translateY(-100%);
        }
  
        &:nth-child(even) div {
          top: calc(100% + 16px);
        }
      }
    }
  }
  
  .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .arrow__prev {
    margin-right: 20px;
  }
  
  .timeline .disabled {
    opacity: .5;
  }