#ageWrapper {
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9000;
    background-color: $secondary-color;
    transform: visibility 0s ease-in-out 0.5s, opacity 0.5s ease-in-out;
    
    .ageUnknown {
        visibility: visible;
        opacity: 1;
    }
}


#agePopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: darken($color: $secondary-color, $amount: 35%);
    text-align: center;
    padding: 30px;
    width: 360px;
    height: 200px;
    margin-top: -100px;
    margin-left: -185px;
    box-sizing: border-box;
    vertical-align: middle;
    border-top: 5px solid $primary-color;
    line-height: 2;


    .ageAnswer {
        display: flex;
        flex-direction: row;
        margin: 20px 10px;
      
        a {
            color: $secondary-color;

            &:hover {
                color: $primary-color;
            }
        }
    
        #ageOkay, #ageBad {
            text-decoration-line: none;
            vertical-align: middle;
            justify-content: center;
        }
    }
    
}

.ageConfirmed {
    z-index: -1;
    visibility: hidden;
  }